.onClick {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;

  border: 1px solid black;
  border-radius: 5px;

  cursor: pointer;

  font-weight: bold;
}

.onClick:hover {
  background-color: black;
  color: white;
}
