.gallery {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 20px;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery__item {
  width: calc((100% - 30px) / 4);
  height: auto;

  border: 2px solid black;
  border-radius: 5px;
}
