@import './components/normalize/normalize.css';
@import './styles.css';

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;

  padding: 0px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-top: 20px;
  padding-left: 40px;
}

p {
  font-weight: bold;
  font-size: 19px;
}
